<ion-view view-title="Settings">
    <ion-content class="padding">

        <ul class="list">

            <li class="item item-divider">
                Notifications
            </li>

            <li class="item item-toggle">
                Receive notifications
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="settings.notificationsEnabled">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-divider" ng-if="settings.notificationsEnabled">
                Matches notifications
            </li>

            <li class="item item-input item-select" ng-if="settings.notificationsEnabled">
                <div class="input-label">
                    Next match
                </div>
                <select ng-model="settings.notificationsNextMatch">
                    <option>Never</option>
                    <option selected>5 matches before</option>
                    <option>4 matches before</option>
                    <option>3 matches before</option>
                    <option>2 matches before</option>
                    <option>1 matches before</option>
                    <option>0 matches before</option>
                </select>
            </li>



        </ul>

    </ion-content>
</ion-view>
