<ion-view view-title="Settings">
    <ion-content class="padding">

        <div ng-if="!isLoggedin" class="list card">
            <div class="item item-divider">Log in</div>
            <div class="item item-body">
                <div>
                    <h2>You need to login first. After logging in, you can set-up notifications.</h2>
                    <button class="button button-block button-positive" ng-click="login()">
                        Log in
                    </button>
                </div>
            </div>
        </div>
        <ul class="list" ng-if="isLoggedin">

            <li class="item item-divider">
                Notifications
            </li>

            <li class="item item-toggle">
                Receive notifications
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="notifications.enabled" ng-change="setNotificationsEnabled(notifications.enabled)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-divider" ng-if="notifications.enabled">
                Matches notifications
            </li>

            <li class="item item-toggle" ng-if="notifications.enabled">
                New match created
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="notifications.newMatch" ng-change="setNotificationsNewMatch(notifications.newMatch)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-input item-select" ng-if="notifications.enabled">
                <div class="input-label">
                    Upcoming match
                </div>
                <select ng-model="notifications.upcomingMatch" ng-change="setNotificationsUpcomingMatch(notifications.upcomingMatch)">
                    <option value="-1" ng-selected="notifications.upcomingMatch == -1">Never</option>
                    <option value="5" ng-selected="notifications.upcomingMatch == 5">5 matches before</option>
                    <option value="4" ng-selected="notifications.upcomingMatch == 4">4 matches before</option>
                    <option value="3" ng-selected="notifications.upcomingMatch == 3">3 matches before</option>
                    <option value="2" ng-selected="notifications.upcomingMatch == 2">2 matches before</option>
                    <option value="1" ng-selected="notifications.upcomingMatch == 1">1 matches before</option>
                </select>
            </li>

            <li class="item item-toggle" ng-if="notifications.enabled">
                Start of match
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="notifications.startMatch" ng-change="setNotificationsStartMatch(notifications.startMatch)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle" ng-if="notifications.enabled">
                Update match score
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="notifications.scoreMatch" ng-change="setNotificationsScoreMatch(notifications.scoreMatch)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

        </ul>

    </ion-content>
</ion-view>
