<ion-view view-title="{{tournament.name}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Tournament info</div>
            <div class="item item-body">
                <div ng-bind-html="tournament.pageHtml">
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Info</div>
            <div class="item item-body">
                <div>
                    Regsitration is open!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>