<ion-view view-title="Rankings">
    <ion-content>
        <div class="container"><div class="col-md-12">
        <div id="rankings" class="content-tab active">
            <!-- Loadingpane for first pageload -->
            <div id="discipline-select" class="card" ng-class="disciplineSelector ? 'on-top' : ''" ng-click="toggleDisciplineSelector()">
                <div class="current">
                    <div class="discipline">
                        <small class="muted">Discipline</small>{{ selectedDiscipline }}
                    </div>
                    <div>
                        <span class="caret muted pull-right" ng-class="disciplineSelector ? '' : 'caret-right'"></span>
                    </div>
                </div>
                <div class="list" ng-show="disciplineSelector">
                    <div ng-click="showRanking(discipline.id, discipline.name)" ng-repeat="discipline in disciplines">
                        <div>
                            {{discipline.name}}
                            <a class="themecolor"><i class="glyphicon glyphicon-arrow-right pull-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-wrapper">
                <h2 class="table-title">
                    Rankings - {{ selectedDiscipline }}
                </h2>

                <div ng-include="'templates/loadingPane.html'" ng-if="isLoading"></div>

                <table id="ranking-table" class="table team-table"><tbody>
                    <tr ng-repeat="rankingRow in ranking">
                        <td class="discipline">
                            # {{ rankingRow.rank }}
                        </td>
                        <td class="team">
                            <span class="player" ng-repeat="player in rankingRow.players">{{player}}</span>
                        </td>
                        <td class="pointsRelative">
                            <i class="glyphicon glyphicon-stats"></i> {{ rankingRow.matchesRelative }}
                        </td>
                        <!--
                            <td class="moreinfo">
                                <a class="themecolor" href="#player/1135/ranking/211"><i class="glyphicon glyphicon-info-sign"></i></a>
                            </td>
                        -->
                    </tr>
                </tbody></table>
                <div ng-if="ranking.length == 0">
                    There are no teams in this discipline.
                </div>
            </div>
        </div>
        </div></div>
    </ion-content>
</ion-view>