<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive" data-ng-controller="TabsController">

    <!-- Info Tab -->
    <ion-tab title="Info" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="{{hrefPrefix}}app/t/{{tournamentUrl}}/info">
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>

    <!-- Matches Tab -->
    <ion-tab title="Matches" icon-off="ion-ios-basketball-outline" icon-on="ion-ios-basketball" href="{{hrefPrefix}}app/t/{{tournamentUrl}}/matches">
        <ion-nav-view name="tab-matches"></ion-nav-view>
    </ion-tab>

    <!-- Rankings Tab -->
    <ion-tab title="Rankings" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="{{hrefPrefix}}app/t/{{tournamentUrl}}/rankings">
        <ion-nav-view name="tab-rankings"></ion-nav-view>
    </ion-tab>

    <!-- Player Tab -->
    <ion-tab title="Players" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="{{hrefPrefix}}app/t/{{tournamentUrl}}/players">
        <ion-nav-view name="tab-players"></ion-nav-view>
    </ion-tab>


</ion-tabs>
